@model AdvancedDevelopment.Models.Trello.TrelloCard

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Trello API Integration</h1>
                <p class="lead">A selection of different Trello management options.</p>
            </div>
            <div class="form-group">
                <p class="lead">Add a new card to the Advanced Development Trello board.</p>
                <form asp-controller="Trello" asp-action="PostCard">
                    <label asp-for="CardName">Card name</label>
                    <input asp-for="CardName" placeholder="Enter card name" class="form-control" style="margin-top: 5px" />
                    <hr class="invisible"/>
                    <label asp-for="CardDescription">Card description</label>
                    <input asp-for="CardDescription" placeholder="Enter a description" class="form-control" style="margin-bottom: 10px" />
                    <input class="btn btn-primary" type="submit" role="button" value="Add card">
                    <span asp-validation-for="CardName" class="text-danger"></span>
                    <span asp-validation-for="CardDescription" class="text-danger"></span>
                </form>
                <hr />
            </div>
            <div>
                <p class="lead">View the cards in the Advanced Development Trello board.</p>
                <p><a class="btn btn-primary" href="@Url.Action("ShowCards", "Trello")" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}
