@model AdvancedDevelopment.Models.Trello.Trello

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Trello API Integration</h1>
                <p class="lead">A selection of different Trello management options.</p>
            </div>
            <div>
                <p class="lead">Add a new card to the Advanced Development Trello board.</p>
                <form asp-controller="Trello" asp-action="PostCard">
                    <label asp-for="CardName" class="form-control"></label>
                    <input asp-for="CardName" placeholder="Enter desired card name" class="form-control" style="margin-bottom: 10px; margin-top: 5px" />
                    <input class="btn btn-primary" type="submit" role="button" value="Add card">
                    <span asp-validation-for="CardName" class="text-danger"></span>
                </form>
                <hr />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
