@model AdvancedDevelopment.Models.Trello.TrelloCard

<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">Trello API Integration</h1>
                <p class="lead">A selection of different Trello management options.</p>
            </div>
            <div>
                <p class="lead">View a list of the cards in the Advanced Development Trello board.</p>
                <ul class="list-group">
                    @foreach (var x in Model.CardCollection)
                    {
                        <li class="list-group-item"><a href="@x.Url" target="_blank">@x.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}