@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Click any of the links below to go to the corresponding page showing cloud development functionality.</p>

        <input type="button" value="Google Maps Integration" onclick="location.href='@Url.Action("Index", "Maps")'" />

        <input type="button" value="Game Viewer Application (CRUD) Data stored in Cloud Datastore" onclick="location.href='@Url.Action("Index", "Game")'" />

</div>
