@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">
        <h1>Wessex Applications - Cloud Technology Showcase Application</h1>
        <p class="lead">This application aims to demonstrate my cloud-centric development skills, each section of the website either builds on a previous cloud skill or introduces a new technique or technology. All website data is stored within Google Cloud Platform, either in Cloud Datastore or a PostgreSQL instance hosted within the Google Cloud Platform.</p>
    </div>*@

<!-- Jumbotron -->
<div class="jumbotron text-center mx-2 mb-5">
    <h2 class="card-title h2">Cloud Technology Showcase</h2>
    <p class="my-4 h6">Wessex Applications Ltd</p>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 pb-2">
            <p class="card-text">This application aims to demonstrate my cloud-centric development skills, each section of the website either builds on a previous cloud skill or introduces a new technique or technology. All website data is stored within Google Cloud Platform (NoSQL), either in Cloud Datastore or a PostgreSQL instance hosted within the Google Cloud Platform.</p>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="row">
    <div class="col-lg-4">
        <h2>Game Viewer Application (CRUD)</h2>
        <img src="https://image.flaticon.com/icons/svg/1670/1670670.svg" alt="Image" style="max-width: 100px" />
        <p>Data is stored within the Google Cloud Datastore (NoSQL) and has create, read, update and delete functionality.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Game")" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Basic Google Maps Integration</h2>
        <img src="https://image.flaticon.com/icons/svg/1034/1034129.svg" alt="Image" style="max-width: 100px" />

        <p>Simple Google Maps API integration with a few custom calls from a javascript file to highlight map waypoints.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Maps")" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Live Chatroom Integration</h2>
        <img src="https://image.flaticon.com/icons/svg/134/134808.svg" alt="Image" style="max-width: 100px" />
        <p>Requires two user accounts in the chat room. This feature is built using a .NET library that focuses on real time data called SignalR.</p>
        <p><a class="btn btn-primary" href="@Url.Action("ChatRoom", "Home")" role="button">View details &raquo;</a></p>
    </div>
</div>
<hr style="opacity: 0" />
<hr style="opacity: 0" />
<hr style="opacity: 0" />
<div class="row">
    <div class="col-lg-4">
        <h2>Trello Api Integration</h2>
        <img src="https://image.flaticon.com/icons/svg/2405/2405401.svg" alt="Image" style="max-width: 100px" />
        <p>Demonstrates integration with the Trello API which allows for the creation and viewing of Trello cards within a predefined example board.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Index", "Trello")" role="button">View details &raquo;</a></p>
    </div>
</div>